body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container1 {
    background-color: #1f2937;
    flex: 1;
}

.container2 {
    background-color: white;
    flex: 1;
}

.container3 {
    background-color: #e5e7eb;
    flex: 1;
}

.container4 {
    background-color: white;
    flex: 1;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 72px;
}